body {
  font-family: "Open Sans", sans-serif;
  background: #eee;
}
header {
  background: white;
}
nav {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
nav a {
  font-weight: bold;
  margin-right: 5em;
  text-decoration: none;
}
footer {
  text-align: center;
  background: #eee;
  padding: 3rem;
}
main {
  background: #eee;
  margin-bottom: 5rem;
}
.wrapper {
  width: 85%;
  margin: 0 auto;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.left p {
  font-size: 0.8rem;
}
.button {
  background: rgb(117, 117, 216);
  padding: 0.8rem 1.3rem;
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
}

.about a:hover {
  background: rgb(74, 74, 214);
  transition: 0.2s;
  color: #eee;
}
.about a i {
  margin-right: 1rem;
}
#blocks {
  margin-top: 2rem;
}
#allBlocks {
  display: flex;
  flex-wrap: wrap;
}
#block {
  background: white;
  width: calc(33.33% - 1.5rem);
  margin-right: 2rem;
  margin-bottom: 2rem;
}
#block:nth-child(3n) {
  margin-right: 0;
}
#block #block-top {
  text-align: center;
  padding: 2rem;
}

#block #block-top #price-title p {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}
#delete {
  padding: 2rem;
  text-align: right;
  border-top: 1px solid #eee;
}
#delete i {
  background: #eee;
  padding: 0.8rem;
  color: rgb(194, 133, 19);
  cursor: pointer;
}
#delete i:hover {
  background: rgb(207, 207, 207);
  color: rgb(196, 154, 76);
  transition: 0.2s;
}
.form .wrapper {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
form {
  background: white;
  padding: 2rem 8rem;
  width: 55%;
}
form .field {
  display: flex;
}
form .field legend {
  width: 30%;
  text-align: right;
  font-weight: bold;
  line-height: 2rem;
}
form .field .input-group {
  flex: 1;
}
form .field input {
  height: 2rem;
}
form .field input,
form .field textarea {
  width: 100%;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-sizing: border-box;
}
form .buttons {
  text-align: right;
  margin-top: 2rem;
  margin-right: 4rem;
}
form .buttons .button {
  margin-left: 1.5rem;
  border: none;
  cursor: pointer;
}
form .buttons .cancel {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
#top .sort {
  text-align: center;
}
#top .sort p {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  margin-right: 1rem;
}
#top .sort i {
  color: rgb(117, 117, 216);
  cursor: pointer;
}
#top .sort i:hover {
  font-size: 1.2rem;
  margin-left: -0.1rem;
  transition: 0.2s;
}
#allBlocks #block p {
  margin-left: 1em;
}
#allBlocks #block #name-surname {
  margin-bottom: 2.5rem;
  color: rgb(128, 128, 128);
  font-weight: bold;
  margin-top: 1.5rem;
}
.add-user {
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}
.add-user .all-inputs {
  display: flex;
}
.add-user .all-inputs .input-left {
  flex: 1;
  width: 100%;
  margin-right: 2rem;
}
.add-user .all-inputs .input-right {
  flex: 1;
  width: 100%;
}
.add-user .all-inputs .input-left .field,
.add-user .all-inputs .input-right .field {
  display: block;
}
.add-user .all-inputs .input-left .field input,
.add-user .all-inputs .input-right .field input {
  margin-left: 0;
  width: 100%;
}
.add-user .all-inputs .input-left .field legend,
.add-user .all-inputs .input-right .field legend {
  text-align: left;
  width: 100%;
  font-size: 1rem;
  padding: 0;
}
select {
  width: 50%;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-sizing: border-box;
}

.add-user .all-inputs .input-left .field legend i,
.add-user .all-inputs .input-right .field legend i {
  font-size: 0.5rem;
  color: rgb(194, 133, 19);
  line-height: 1rem;
}

.add-user .buttons {
  text-align: center;
}
